html, body {
	background: purple; 
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 5% 90% 5%;
	grid-template-areas: 
		"header header"
		"body body body"
		"footer footer footer";

}

.header {
	grid-area: header;
	background: green;
	width: 100%;
	align-self: center;
	justify-content: space-around;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;

}

.search {
	grid-area: body;
	background: red;
	align-self: center;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}


.footer {
	grid-area: footer;
	background: blue;
	align-self: center;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}